#minimized__overplay {
  transition: opacity .3s ease-in-out;
  overflow: hidden;
  display: block;
  background: rgba(000, 000, 000, .5);
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  width: 100vw;
  z-index: 100;
}

#minimized__overplay._active {
  height: 100vh;
  opacity: 1;
}

#minimized__magnify {
  transition: opacity .5s all;
  opacity: 0;
  height: 0;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  padding: 20px;
  background-color: aliceblue;
  border: 1px solid rgba(34, 25, 25, .6);
}

#minimized__magnify._active {
  height: auto;
  opacity: 1;
}

#minimized__magnify img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

#minimized_close_popup {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 110;
  border-radius: 50%;
  border: 1px solid #000;
}


#minimized__arrw__right,
#minimized__arrw__left {
  content: "";
  position: absolute;
  left: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
  z-index: 120;

}



#minimized__arrw__right {
  transform: rotate(-45deg);
  left: calc(100% - 27px);
}

#minimized_close_popup:before,
#minimized_close_popup:after {
  content: '';
  position: absolute;
  right: 9px;
  height: 90%;
  top: 5%;
  width: 2px;
  background-color: black;
  transform: rotate(45deg);

}

#minimized_close_popup:after {
  transform: rotate(-45deg);

}

@media (max-width:600px) {
  #minimized__magnify {
    width: 80vw;
    max-width: 100%;
  }
}

@media (max-width:400px) {

  #minimized_close_popup::before,
  #minimized_close_popup::after {
    height: 70%;
    top: -4px;
    right: 12px;
  }

  #minimized__magnify {
    width: 100vw;
    max-width: 100%;
    padding: 10px;
  }
}