body {
  margin: 0;
  padding: 0;
  background-color: #262626; }

.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.toggle span {
  display: block;
  position: relative;
  width: 80px;
  height: 8px;
  background-color: #fff;
  margin-bottom: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer; }

.toggle span:nth-child(1) {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left; }

.toggle span:nth-child(2) {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.toggle span:nth-child(3) {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left; }

.toggle.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -9px;
  left: 10px; }

.toggle.active span:nth-child(2) {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg); }

.toggle.active span:nth-child(3) {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }
